body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #333;
}

header {
    background-color: #000;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.section {
    padding: 60px 20px;
    text-align: center;
}

.section {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.section.fade-in {
    opacity: 1;
    transform: translateY(0);
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

h1,
h2 {
    color: #007BFF;
}

h1 {
    margin: 0;
    padding-bottom: 10px;
}

h2 {
    margin-bottom: 40px;
}

img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.social-links a {
    margin: 0 10px;
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
}

.timeline {
    text-align: left;
}

.timeline-item {
    margin-bottom: 30px;
}

.project-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project-card h3 {
    margin-top: 0;
    color: #007BFF;
}

.project-card p {
    font-size: 0.9em;
}

.project-card .btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #007BFF;
    color: #fff;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
}

footer {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

@media (max-width: 600px) {
    .project-cards {
        flex-direction: column;
    }
}
